<table width="100%">
  <tr>
    <td>
      <a [routerLink]="['/']">
        <h1>The Unicorn Store</h1>
      </a>
    </td>
    <td align="right">
      <a [routerLink]="['/users']" class="button fancy-button"><i class="material-icons">account_box</i></a>
      &nbsp;<a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>
    </td>
  </tr>
</table>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->